<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>GetUp&Play</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <style>
        body        {word-wrap:break-word; }
        .friend-requests {display: none; position: absolute; z-index: 5; margin-bottom:5px; margin-top:5px; background:  rgba(209, 209, 209, 0.5); padding-right: 10px; border-radius:5px; -webkit-box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.75);}
        .pending-requests {display: none; position: absolute; z-index: 5; margin-bottom:5px; margin-top:5px; background:  rgba(209, 209, 209, 0.5); padding-right: 10px; border-radius:5px; -webkit-box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.75);}
        #rejectResponse{margin:5px;}
        #acceptResponse{margin:5px;}
        img {
          border-radius: 50%;
          height: 25vh;
          width: 25vh;
          margin: 10px;
        }

        .disabled{pointer-events: none;}

        .well-radius{
          border-radius: 50%;
        }

    </style>
</head>
<body>
<%- include header.ejs %>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>

    </div>

    <div class="row">
    <div class="well col-md-4 col-md-offset-4">
      <center>

    <img src=<%=avatar%>>
    <% if (message.length > 0) { %>

            <% for (let i = 0; i < message.length; i++) { %>
            </br><span style="color:red;"><%=  message[i] %></span <br>
          <%  } %>

    <% } %>
    </center>
    <p>
      <form id="submitPic" action="add-avatar" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input id="image" type="file" name="image"  class="form-control-file" >
        <% if(avatar==="/static/images/default-profile.png"){ %>
        <p class="help-block">Upload a profile picture above.</p>
        <% } else { %>
          <p class="help-block">Update your profile picture above.</p>
          <% } %>

      </div>
       <button class="btn btn-default">Upload</button>
      </form>
    </p>
    </div>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <!-- <a href="/unlink/local" class="btn btn-default">Unlink</a> -->
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.facebook.active == true) { %>
                    <p>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %><br>
                    </p>

                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

            </div>
        </div>
    </div>

    <div class="row">


        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.google.active == true) { %>
                    <p>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </p>

                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>

            </div>
        </div>
    </div>

</div>
</body>
<script>
const currentUser=`<%=user.id%>`;
</script>
<script src="/static/scripts/friendRequest.js"></script>
<script src="/static/scripts/searchFriends.js"></script>
<script src="/static/scripts/getRequests.js"></script>
<script src="/static/scripts/navSelector.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>
